/*Variables CSS*/
:root {
    --primary-bg-color: #0b3b41;
    --secondary-bg-color: #e3e3e3;
    --primary-txt-color: #0b3b41;
    --secondary-txt-color: #FFF;
    --label-bg-color:#facb38;
    --score-txt-color:#c53030;
}
* {
    box-sizing: border-box;
    font-family: 'Calibri';
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.header {
    align-items: center;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.section-secondary-nav {
    display: flex;
    justify-content: center;
}

.secondary-nav {
    display: flex;
    justify-content: center;
}

.primary-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.secondary-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 180%;
}

.items {
    color:var(--secondary-txt-color);
    list-style: none;
}

.items.second {
    text-align: center;
    margin: 0 0.5%;
    width: 190px;

}

.matches {
    background-color: var(--label-bg-color);
}

.logo {
    margin-right: 3%;
    width: 9%;
}

/* Score table */

.score-table {
    background: var(--secondary-bg-color);
    font-size: 0.1rem;
    height: 115px;
    text-align: center;
}

.score-list {
    display: flex;
    justify-content: center;
}

.score-item {
    list-style: none;
    margin: 1% 1% 0 1%;
    width: 7%;
}

.score, .watch-goals {
    align-items:center;
    display: flex;
    justify-content: center;
}

.text-score-table {
    font-size: 0.8rem;
    margin: 1.5%;
}

.final-score {
    color:var(--score-txt-color);
    font-size: 1rem;
    font-weight: bold;
}

.escudo {
    width: 15%;
}

.play-icon {
    width: 20%;
}

/* Top videos */

.top-videos {
    align-items:center;
    display: flex;
    flex-direction: column;
}

.top-videos-title {
    color: var(--primary-txt-color);
    font-size: 1.5rem;
    padding: 2% 0;
    width: 70%;
}

.videos-container {
    display: flex;
    width: 70%;
}

.secondary-container {
    display: flex;
    margin-bottom: 5%;
}


.main-video {
    background-image: url("./assets/america-campeon.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    opacity: .85;
    width: 60%;
}

.secondary-videos {
    background-image: url("./assets/america-campeon.png");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    opacity: .85;
    width: 60%;

}

.control-icon-play {
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

.icon-play-orange {
    width: 10%;
}

.secondary-icon-play-orange {
    width: 20%;
}

.info-main-video {
    padding: 10% 5%;
}

.info-label {
    align-items: center;
    display: flex;
}

.plus-icon {
    width: 5%;
}

.label-icon {
    color: var(--secondary-txt-color);
    font-size: .9rem;
    font-weight: bold;
    margin-left: 1%;
}

.subtitle-main-video {
    color: var(--secondary-txt-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.secondary-text {
    color: var(--primary-txt-color-txt-color);
    padding: 0 3%;
    width: 50%;
}
.video-list {
    margin: 0 0 0 2%;
    width: 40%;
    overflow-x: scroll;
    
}